# backend/services/user-service/.env.example
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/users"
RABBITMQ_URL="amqp://admin:admin@localhost:5672"
CLERK_SECRET_KEY="your_clerk_secret"
PORT=3001


#new working .env
DATABASE_URL="postgresql://postgres:postgres@user-db:5432/users?schema=public"

PORT=3001
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672